.cover {
  display: inline-block;
  position: relative;
  width: 140px;
  height: 140px;
  margin: 20px;
}
.glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg {
  background: url(../image/13_/images/musicsprite_01.png) no-repeat;
  width: 140px;
  height: 140px;
}
.bottom {
  position: absolute;
  width: 140px;
  height: 27px;
  background: url('../image/13_/images/musicsprite_01.png') no-repeat 0 -537px;

  box-sizing: border-box;
  bottom: 0px;
  padding: 0 8px;
}
.bottom span,
.bottom a {
  display: inline-block;
  color: #eee;
  font-size: 13px;
  line-height: 27px;
}

.bottom .icon-headset {
  background: url('../image/13_/images/iconall.png') no-repeat 0 -24px;
  width: 14px;
  height: 11px;
}
.bottom .icon-play {
  background: url('../image/13_/images/iconall.png') no-repeat 0 0;
  width: 16px;
  height: 17px;

  position: absolute;
  right: 5px;
  bottom: 5px;
}
.decoration {
  font-size: 14px;
  margin: 5px auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
